<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="favicon" href="url_for('static', filename=favicon.icon)">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <h2>
            <img src="{{url_for('static', filename='images/avatar.png')}}" alt="avatar" class="avatar">
            <span>{{ user.name }}'s Watchlist</span>
        </h2>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock%}
        <img src="{{ url_for('static', filename='images/totoro.gif') }}" alt="totoro" class="totoro">
        <footer>
            <small>
                <span>&copy; 2025&nbsp;</span>
                <a href="http://helloflask.com/totoro.gif">Naive</a>
            </small>
        </footer>
    </body>
</html>